#:schema https://api.nuon.co/v1/general/config-schema?type=helm
name           = "karpenter_nodepools"
type           = "helm_chart"
chart_name     = "karpenter-nodepools"
storage_driver = "configmap"

drift_schedule = "0 0 * * *"


[public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/components/karpenter-nodepools"
branch    = "main"

[[values_file]]
contents = "./values/karpenter-nodepools.yaml"
