# action
name    = "alb_healthcheck_app"
timeout = "30s"

[[triggers]]
type          = "cron"
cron_schedule = "*/5 */1 * * *"

[[triggers]]
type           = "post-deploy-component"
component_name = "dashboard_ui"
index          = 5

[[triggers]]
type = "manual"

[[steps]]
name            = "alb-healthcheck-dashboard-ui"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "dashboard-ui"
INGRESS_NAMESPACE = "dashboard-ui"
