#:schema https://api.nuon.co/v1/general/config-schema?type=action
name    = "alb_healthcheck_runner"
timeout = "30s"

[[triggers]]
type          = "cron"
cron_schedule = "*/5 */1 * * *"

[[triggers]]
type = "manual"

[[steps]]
name            = "alb-healthcheck-ctl-api-runner"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-runner"
INGRESS_NAMESPACE = "ctl-api"
