# action
name    = "alb_healthcheck_private"
timeout = "30s"

[[triggers]]
type          = "cron"
cron_schedule = "*/5 */1 * * *"

[[triggers]]
type = "manual"

[[steps]]
name            = "alb-healthcheck-ctl-api-admin"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-admin"
INGRESS_NAMESPACE = "ctl-api"
