# action
# description: copies the secret from the k8s secret synced from Secret Manager during secrets-sync; it copies it into the k8s cluster in two locations; one for the chi and one for ctl-api.
# TODO: use an internal-input for the username
# TODO: replace this with an external-secrets SecretStore
name    = "ch_cluster_creds"
timeout = "1m"

[[triggers]]
type           = "pre-deploy-component"
component_name = "clickhouse_cluster"

[[triggers]]
type = "manual"

[[steps]]
name    = "[ns:ctl-api] copying secrets for ch cluster"
inline_contents = """
#!/usr/bin/env sh
password=`kubectl get -n clickhouse secret clickhouse-cluster-pw -o json | jq -r '.data.value' | base64 -d`
kubectl create -n ctl-api secret generic clickhouse-cluster-pw \
  --save-config    \
  --dry-run=client \
  --from-literal=value="$password" \
  -o yaml | kubectl apply -f -
"""

