# action
name    = "ctl_api_post_deploy"
timeout = "1m30s"

[[triggers]]
type           = "post-deploy-component"
component_name = "ctl_api"
index          = 5

[[triggers]]
type = "manual"

[[steps]]
name    = "restart-deployments"
command = "./deployments-restart"

[steps.public_repo]
repo      = "nuonco/actions"
branch    = "main"
directory = "kube"

[steps.env_vars]
NAMESPACE = "ctl-api"

[[steps]]
name            = "promote-callback"
inline_contents = "./src/ctl-api/promote.sh"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"

[[steps]]
name            = "get-migrations-callback"
inline_contents = "./src/ctl-api/get-migrations.sh"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"

[[steps]]
name            = "public-alb-healthcheck"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-public"
INGRESS_NAMESPACE = "ctl-api"

[[steps]]
name            = "runner-alb-healthcheck"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-runner"
INGRESS_NAMESPACE = "ctl-api"

[[steps]]
name            = "admin-alb-healthcheck"
inline_contents = "./src/alb/healthcheck.sh"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-admin"
INGRESS_NAMESPACE = "ctl-api"

[[steps]]
name            = "runners-update-version"
inline_contents = "./src/runners/update-version.sh"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"
