# action
name    = "ctl_api_startup"
timeout = "1m30s"

[[triggers]]
type = "manual"

[[steps]]
name    = "Startup"
command = "./ctl_api/startup.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions"
branch    = "main"

[steps.env_vars]
SECRET_ARN = "{{ .nuon.components.rds_cluster_nuon.outputs.db_instance_master_user_secret_arn }}"
DB_ADDR    = "{{ .nuon.components.rds_cluster_nuon.outputs.address }}"
DB_PORT    = "5432"
REGION     = "{{ .nuon.install_stack.outputs.region }}"

LOG_LEVEL      = "INFO"
DB_LOG_QUERIES = "false"
