#:schema https://api.nuon.co/v1/general/config-schema?type=action
name    = "ctl_api_post_deploy"
timeout = "1m30s"

[[triggers]]
type           = "post-deploy-component"
component_name = "ctl_api"
index          = 5

[[triggers]]
type = "manual"

[[steps]]
name    = "restart-deployments"
command = "./deployments-restart"

[steps.public_repo]
repo      = "nuonco/actions"
branch    = "main"
directory = "kube"

[steps.env_vars]
NAMESPACE = "ctl-api"

[[steps]]
name    = "promote-callback"
command = "./ctl_api/promote.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions"
branch    = "main"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"


[[steps]]
name    = "get-migrations-callback"
command = "./ctl_api/migrations.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions"
branch    = "main"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"

[[steps]]
name    = "public-alb-healthcheck"
command = "./healthcheck.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions/alb"
branch    = "main"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-public"
INGRESS_NAMESPACE = "ctl-api"

[[steps]]
name    = "runner-alb-healthcheck"
command = "./healthcheck.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions/alb"
branch    = "main"

[steps.env_vars]
INGRESS_NAME      = "ctl-api-runner"
INGRESS_NAMESPACE = "ctl-api"

[[steps]]
name    = "runners-update-version"
command = "./update-version.sh"

[steps.public_repo]
repo      = "nuonco/byoc"
directory = "byoc-nuon/src/actions/runners"
branch    = "main"

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"
