# action
name    = "kubectl_events"
timeout = "30s"

[[triggers]]
type = "manual"

[[steps]]
name = "kubectl events"
inline_contents = """
#!/usr/bin/env sh
kubectl events -n $NAMESPACE
"""

[steps.env_vars]
NAMESPACE = "default"
