# action
# action to admin-restart a single org
name    = "org_admin_restart"
timeout = "30s"

[[triggers]]
type = "manual"

[[steps]]
name    = "admin_restart"
inline_contents = """
#!/usr/bin/env bash

set -e
set -o pipefail
set -u

admin_api_addr="$ADMIN_API_URL"
org_id="$ORG_ID"

curl -X 'POST' -s -q \
  "$admin_api_addr/v1/orgs/$org_id/admin-restart" \
  -H 'accept: application/json' \
  -H 'X-Nuon-Admin-Email: jon@nuon.co' \
  -H 'Content-Type: application/json' \
  -d '{}'
"""

[steps.env_vars]
ADMIN_API_URL = "http://admin.{{ .nuon.sandbox.outputs.nuon_dns.internal_domain.name }}"
ORG_ID        = "dne"
