# action
name    = "temporal_init_db"
timeout = "1m30s"

[[triggers]]
type           = "post-deploy-component"
component_name = "temporal_init_db"

[[triggers]]
type = "manual"

[[steps]]
name            = "Initialize the DB"
inline_contents = "./src/temporal/init-db.sh"

[steps.env_vars]
REGION = "{{ .nuon.install_stack.outputs.region }}"

[[steps]]
name            = "Create DB Users"
inline_contents = "./src/temporal/create-db-users.sh"

[steps.env_vars]
REGION          = "{{ .nuon.install_stack.outputs.region }}"
